PORT=
HOST=
REACT_CLIENT_URL=
FLUTTER_CLIENT_URL=

DB_PORT=
DB_INSTANCE=
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=

JWT_SECRET=
JWT_EXPIRES_IN=

COOKIE_NAME=
COOKIE_MAX_AGE=

REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=
REFRESH_COOKIE_NAME=
REFRESH_COOKIE_MAX_AGE=